# Sequence and Map data structures - Strings, Tuples, Lists, Dictionaries
Our week 2 lesson workbook, available on Github from the powderflask/cap-comp215 repository.

As usual, the first code block just imports the modules we will use.

In [1]:
import datetime
import matplotlib.pyplot as plt
import  matplotlib.dates as mdates
from pprint import pprint

## f-strings
A `string` is a sequence of characters / symbols.
This familiar data structure is quite powerful, and format-strings (f-strings) take it to the next level....

In [2]:
today = datetime.date.today()
the_answer = 42
PI = 3.1415926535

f'{today} is not special, but {the_answer} and {PI} are!'

'2026-01-12 is not special, but 42 and 3.1415926535 are!'

## List Comprehension
Provides a compact syntax for two very common sequence-processing algorithms:  Map  and Filter

Basic syntax:

In [3]:
[2*x for x in range(100)]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

### Map Algorithm
Apply the same function to every item in another sequence (i.e., provide a "mapping" from the source sequence to the target

In [9]:
# Problem:  compute the first 10 natural squares
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Filter
Select a sub-set of the elements from another sequence based on some criteria.

In [16]:
VOWELS = 'aeiou'
text = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
'''
# Problem:  create a string with just the vowels from the text, in order.
VOWELS =[letter for letter in text if letter in VOWELS]
VOWELS

['o',
 'e',
 'i',
 'u',
 'o',
 'o',
 'i',
 'a',
 'e',
 'o',
 'e',
 'e',
 'u',
 'a',
 'i',
 'i',
 'i',
 'e',
 'i',
 'e',
 'o',
 'e',
 'i',
 'u',
 'o',
 'e',
 'o',
 'i',
 'i',
 'i',
 'u',
 'u',
 'a',
 'o',
 'e',
 'e',
 'o',
 'o',
 'e',
 'a',
 'a',
 'a',
 'i',
 'u',
 'a',
 'e',
 'i',
 'a',
 'i',
 'i',
 'e',
 'i',
 'a',
 'u',
 'i',
 'o',
 'u',
 'e',
 'e',
 'i',
 'a',
 'i',
 'o',
 'u',
 'a',
 'o',
 'a',
 'o',
 'i',
 'i',
 'i',
 'u',
 'a',
 'i',
 'u',
 'i',
 'e',
 'e',
 'a',
 'o',
 'o',
 'o',
 'o',
 'e',
 'u',
 'a']

## Data Wrangling with List Comprehension
E-learn's Live Quiz module does track quiz scores for each student, but does not store them in the gradebook,
and it reports on them in the most useless way.

Let's do some "data wrangling" to make sense out of this mess!

### The Problem: Unstructured Data!
Notice it is just a single large string!  The real data set has 36 students, and I need to do this every week!

In [67]:
raw_data = """
"""
"""
  1.                 Ali Oop scored  7/ 8 = 87%


  2.          Alison Ralison scored  8/ 8 = 100%


  3.         Ambily Piturbed scored  8/ 8 = 100%


  4.  Arshan Risnot Farquared scored  5/ 8 = 62%


  5.       Ayushma Jugernaugh scored  5/ 8 = 62%


  6.       Brayden Labaguette scored  7/ 8 = 87%
"""

'\n  1.                 Ali Oop scored  7/ 8 = 87%\n\n\n  2.          Alison Ralison scored  8/ 8 = 100%\n\n\n  3.         Ambily Piturbed scored  8/ 8 = 100%\n\n\n  4.  Arshan Risnot Farquared scored  5/ 8 = 62%\n\n\n  5.       Ayushma Jugernaugh scored  5/ 8 = 62%\n\n\n  6.       Brayden Labaguette scored  7/ 8 = 87%\n'

### Goal
Turn this into structured data: a list of 2-tuples, each student's full name and their integer score.

In [80]:
students = [student.split() for student in raw_data.split('\n') if student]
records = [(rec[1:-5], rec[1:-4]) for rec in students]
records = [("".join(name), int(score[-1])) for name, score in records]
records

[]

## Records
A *record* is a compound data value - a collection of simpler data values (fields) that all describe a single entity.

 * tuple
 * dictionary
 * object

Problem: develop the data representation for a `student` in a student record system,
where a `student` has a first and last name, student id, and date of birth

In [ ]:
# Tuple

# Dictionary

# Object